div {
    color: black;
    font-size: 18px;
    background-color: white;
    width: 300px;
    border-left: 2px solid black;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin: 10px;

}
