body {
background: white;
}
p {
  font-size: 18px;
}
span {
  color: red;
}
em {
color: blue;
}
h1 {
 color: blue;
}
h2 {
 color: gold;
}
ul {
list-style: square;
color: blue;

}
.elso {
color: black;
list-style: disc;
}
.masodik {
  color: black;
}
.piros {
  color: red;

}
