div {
    color: black;
    font-size: 18px;
    background-color: white;
    width: 300px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    margin: 0px;

}
div:hover {
  background: #ff0000;
}
div:last-child {
   border-bottom: 0px;
}
