.main {
  background: #fff;
  width: 80%;
  height: 100%;
  margin: 40px 40px;
  padding: 2px;
  position:relative;
  min-height: 700px;
  padding: 40px;
}

.button {
  display: inline-block;
  width: 160px;
  padding: 20px;
  border: 2px solid #77aaaa;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  background: purple;
  background: linear-gradient(to top, purple 0%, #77aaaa 100%);
  background: -webkit-linear-gradient(to top, purple 0%, #77aaaa 100%);
}

.button:hover {
  background: #77aaaa;
  background: linear-gradient(to bottom, purple 0%, #77aaaa 100%);
  background: webkit-linear-gradient(to bottom, purple 0%, #77aaaa 100%);
}
